<div class="container">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h1>AngularJS HTTP Interceptor Factory</h1>
      </div>
      <section>
        <div>If you are seeing this page, you've successfully logged in.</div>
        <h3>INSTRUCTIONS</h3>
        <div>Please open up your browser's developer console so you can see what is going on in the background.</div>
        <div>You may now click on "Simulate HTTP Error 401 code" button</div>
        <div>For more information, please see interceptor.js</div>
        <hr>
        <div>
          <button ng-click="simulate401()">Simulate HTTP Error 401 code</button>
        </div>
      </section>
    </div>
  </div>
</div>
